*.iml
.gradle
/local.properties
/.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gradle/
.kotlin/
**/build/
.idea/artifacts/
.idea/git_toolbox_prj.xml
*.class
*.kotlin_module
*.jks
*.keystore
keystore.properties

